body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header, footer {
    padding: 1rem;
    background: rgb(227, 246, 255);
    text-align: center;
}

footer {
    margin-top: auto;
}

h1 {
    margin-bottom: 0.5rem;
}

header a {
    font-size: 1.5rem;
    color: #222;
    text-decoration: none;
    margin: 0 0.5rem;
}

header a:hover {
    text-decoration: underline;
}

img {
    max-height: 80px;
}

table {
    text-align: center;
    margin: 1rem auto;
    max-width: 1080px;
    border-collapse: collapse;
}

table th {
    background: rgb(227, 246, 255);
    padding: 0.5rem;
}

table tr {
    border-bottom: 0.2rem solid rgb(78, 117, 142);
    background: white;
}
table tr:nth-child(odd) {

    background: rgb(242, 250, 250);
}

table td {
    padding: 1rem;
}

table th:first-child {
    border-radius: 0.25rem 0 0 0 ;
}

table a {
    color: rgb(78, 117, 142);
    font-weight: bold;
    text-decoration: none;
}
table a:hover {
    text-decoration: underline;
}

.ficha-pelicula header {
    background: none;
}
.ficha-pelicula {
    background: rgb(227, 246, 255);
    border: 0.4rem dashed rgb(199, 217, 225);
    display: flex;
    justify-content: center;
    max-width: 1080px;
    margin: 1rem auto;
    border-radius: 2rem;
}
.ficha-pelicula img {
    max-height: 480px;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(45, 69, 77);
}
.ficha-pelicula > section {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ficha-pelicula .ficha-tecnica {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
}

.ficha-pelicula .ficha-tecnica > div > div:first-child {
    font-weight: bold;
}

.ficha-pelicula .ficha-tecnica > div {
    min-width: 25%;
    box-shadow: 0.1rem 0.1rem 0.15rem rgb(45, 69, 77);
    padding: 0.5rem 1rem;
}

.ficha-pelicula a {
    color: rgb(78, 117, 142);
    font-weight: bold;
    text-decoration: none;
}
.ficha-pelicula a:hover {
    text-decoration: underline;
}

.ficha-pelicula .actor {
    display: inline-block;
    border: 0.1rem solid rgb(78, 117, 142);
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    margin: 0.1rem 0.1rem;
}
.ficha-pelicula .actor:hover {
    background: whitesmoke;
    text-decoration: none;
}